.container {
  width: 1000px;
  margin: 50px auto 10px;
  font-family: "Mulish", sans-serif;
}

.heading {
  display: block;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 70px;
}

h2 {
  color: #377d71;
}

h4 {
  color: #377d71;
  font-weight: 900;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.w700 {
  font-weight: 700;
}

.footer {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  text-align: center;
}

.footer a {
  color: #377d71;
}
