.audio {
  color: #1a4d2e;
  text-decoration: underline;
  border-radius: 50px;
  padding: 2px;
  margin-right: 6px;
}

.audio:hover {
  color: #1a4d2e;
  text-decoration: underline;
  border-radius: 50px;
  padding: 2px;
  margin-right: 6px;
}
